.u-section-1 .u-sheet-1 {
  min-height: 72px;
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1380px;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  font-size: 6rem;
  margin: 24px auto 0 458px;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  margin: 20px 0 0 458px;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 261px;
  height: 261px;
  background-image: url("images/_MG_1196_1.jpg");
  background-position: 50% 50%;
  margin: -318px auto 0 0;
}

.u-section-2 .u-image-2 {
  width: 682px;
  height: 403px;
  margin: 102px auto 0 458px;
}

.u-section-2 .u-image-3 {
  width: 261px;
  height: 261px;
  background-image: url("images/_MG_1201.jpg");
  background-position: 50% 50%;
  margin: -332px auto 0 0;
}

.u-section-2 .u-image-4 {
  width: 261px;
  height: 261px;
  background-image: url("images/_MG_1206.jpg");
  background-position: 50% 50%;
  margin: 207px auto 0 0;
}

.u-section-2 .u-image-5 {
  width: 682px;
  height: 403px;
  margin: -332px auto 60px 458px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1292px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 44px;
    margin-left: 377px;
  }

  .u-section-2 .u-image-2 {
    width: 563px;
    height: 309px;
    margin-top: 114px;
    margin-left: 377px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -285px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 102px;
  }

  .u-section-2 .u-image-5 {
    width: 563px;
    height: 330px;
    margin-top: -296px;
    margin-left: 377px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1588px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 228px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    width: 163px;
    height: 163px;
    margin-top: -503px;
    margin-right: 21px;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    height: 383px;
    margin-top: 481px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-3 {
    width: 184px;
    height: 184px;
    margin-top: -640px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-image-4 {
    width: 172px;
    height: 172px;
    margin-top: -382px;
    margin-right: 12px;
    margin-left: auto;
  }

  .u-section-2 .u-image-5 {
    height: 373px;
    margin-top: 719px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2196px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 48px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 20px;
    margin-right: 48px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    height: 296px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    margin-top: 20px;
  }

  .u-section-2 .u-image-5 {
    height: 317px;
    margin-top: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 847px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-top: -53px;
    margin-left: 2px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.625rem;
    margin-top: 15px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-image-1 {
    width: 101px;
    height: 101px;
    margin-top: 27px;
    margin-right: auto;
  }

  .u-section-2 .u-image-2 {
    height: 186px;
    margin-top: 43px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    width: 101px;
    height: 101px;
    margin-top: -330px;
  }

  .u-section-2 .u-image-4 {
    width: 101px;
    height: 101px;
    margin-top: -101px;
    margin-right: auto;
  }

  .u-section-2 .u-image-5 {
    height: 200px;
    margin-top: 263px;
    margin-bottom: 34px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}