.u-section-1 {
  min-height: 862px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 60px 0 60px auto;
}

.u-section-1 .u-image-1 {
  min-height: 735px;
  background-image: url("images/PH0B651.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 735px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 30px 80px;
}

.u-section-1 .u-image-2 {
  width: 341px;
  height: 368px;
  object-position: 50% 5.08%;
  background-position: 50% 5.08%;
  margin: 46px auto 0 14px;
}

.u-section-1 .u-text-1 {
  font-weight: 300;
  margin: 38px 75px 0 25px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 541px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-image-1 {
    min-height: 606px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 606px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 503px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-image-1 {
    min-height: 382px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    width: 300px;
    height: 324px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 1172px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-image-1 {
    min-height: 696px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 355px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-image-1 {
    min-height: 438px;
  }
}.u-section-2 {
  min-height: 541px;
}

.u-section-2 .u-sheet-1 {
  min-height: 953px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0 auto;
}

.u-section-2 .u-image-1 {
  min-height: 375px;
  background-image: url("images/ccc.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  height: 375px;
  margin: 63px -1117px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 887px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 309px;
  }

  .u-section-2 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 503px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 815px;
  }

  .u-section-2 .u-image-1 {
    min-height: 237px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 1172px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 756px;
  }

  .u-section-2 .u-image-1 {
    min-height: 178px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 355px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 690px;
  }

  .u-section-2 .u-image-1 {
    min-height: 224px;
  }
}